
a img{
    position: flex;
    width: 198.07px;
    height: 59px;
    left: 212px;
    top: 30px;
    margin-left: 90px;
}

.items{
    margin-right: 100px;
}

.learn-section p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */
    
    
    color: #FD511A;
    
}

.learn-section h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    /* or 146% */


    color: #000000;
    }

    h1 span{
        color: lawngreen;
    }
    .btn {
        border-radius: 50px;
    }
    .learn-section{
        margin-top: 100px;
        margin-left: 100px;
    }
    .col-md-7 img{
        width: 70%;
    }
    .top-section{
        background: #F0FFF0;
        padding-bottom: 50px;
    }
    .col img{
        margin: auto;
        padding: 20px;
        width: 50%;
    }
    .card-section{
        margin-top: 20px;
        text-align: center;
        margin-left: 60px;
        margin-right: 60px;
        padding-bottom: 20px;
    }
    .card{
        border: none;
        height: 80%;
    }
    .online-course-section{
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 50px;
    }
    .online-course-section h2{
        font-weight: 700;
        font-size: 38px;
        text-align: center;
        padding-bottom: 50px;
    }

    .buy-course-btn{
        padding: 5px 15px 5px 15px;
        border-radius: 50px;
        background: green;
        border: none;
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;
    }
    small img{
        
        width: 7%;
    }
    .row img{
        width: 50%;
    }
    .row p{
        margin: auto;
        padding-top: 20px;
        width: 80%;

    }
    .testimonial-section h3{
            font-size: 38px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 50px;
    }
    .testimonial-section{
        margin-bottom: 50px;
    }

    ul li{
        list-style: none;
    }
    ul p{
        
        font-size: 18px;
        font-weight: 500;
    }
    .blog-section{
        background: #282531;
        color: #F0FFF0;
        
    }
    footer p{
        text-align: center;
        font-size: 12px;
        margin-top: 60px;
        color: rgba(146, 207, 207, 0.171);
    }